.box-1 {
    border: solid 1px rgb(4, 2, 95);
  }
  .home-1 {
    
      align-self: auto;
  }

  .ground-1 {
      background: rgb(205, 212, 248);
  }
  .ground-2 {
      background: rgb(103, 140, 185);
  }

  .table-1{
      background: rgb(74, 120, 175);
  }
  @media (max-width: 992px) {
   .box-1 {
    background: rgb(3, 5, 90);
   border: solid 1px rgb(95, 82, 129);
   
  } 
  }
  @media (min-width: 1px){
      .table-1 {
          background: rgb(141, 183, 235)
      }
  }
